.navigation .navbar {
  background-color: rgba(0, 0, 0, 0.6) !important;
}
.navigation .container {
  display: contents !important;
}
.navigation .d-inline-block {
  margin-left: 37px;
  margin-right: 20px;
}
.navigation .navbar-light .navbar-nav .nav-link:hover {
  color: gold;
}

.navigation .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.6) !important;
}
.navigation .dropdown-item {
  color: white;
}
.navigation .dropdown-item:hover {
  color: gold;
}

.navigation .dropdown-item:active {
  color: gold !important;
  background-color: white !important;
}
.navbar-nav {
  letter-spacing: 1px;
  width: auto;
  margin: auto;
}
.navbar-dark .navbar-nav .nav-link {
  color: white !important;
  font-size: 18px;
  margin-left: 12px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: gold !important;
}

@media screen and (max-width: 670px) {
  .navbar-dark .navbar-nav .nav-link {
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) {
  .d-inline-block {
    height: 45px;
    width: 45px;
  }
}
